/* Main login page styles */

body {
  height: 100vh;
  background-image: url("./../img/bacground-img/6.jpg");
}

.rates {
  height: 80%;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: baseline;
}
.back {
  background-color: rgba(0, 90, 245, 0.678);
  backdrop-filter: blur(5px);
  color: #fff;
  border-radius: 5px;
  margin-top: 15px;
  height: 40px;
  width: 60px;
  position: absolute;
  left: 20px;
}

.button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.rates .button {
  margin-bottom: 20px;
}

.header-box {
  background-color: rgba(0, 255, 110, 0.577);
  backdrop-filter: blur(5px);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  max-width: 300px;
}

.header-box h1 {
  margin: 0;
  font-size: 36px;
  color: #fff;
}
.titleBox {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.rates-box {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  width: 300px;
}

.rates-item {
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.523);
  backdrop-filter: blur(5px);
  margin: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.2s ease;
  width: 250px;
}

.rates-item:hover {
  transform: translateY(-5px);
}

.rates-item h3 {
  font-size: 36px;
  margin-top: 0;
  color: #333;
}

.weekdays,
.weekends {
  margin-top: 20px;
}

.weekdays h5,
.weekends h5 {
  margin: 0;
  font-size: 24px;
  color: #888;
}

.weekdays span,
.weekends span {
  display: block;
  font-size: 30px;
  margin-top: 10px;
  color: #333;
}
